In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,year,to_date,col,split,count, size, explode, length, when

spark = SparkSession.builder \
    .appName("arxiv_eda") \
    .getOrCreate()

df = spark.read.json("../../../data/arxiv-metadata-oai-snapshot.json")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/21 05:20:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.catalog.clearCache()
spark.stop()

In [2]:
df_time = df.withColumn(
    "year",
    year(to_date(col("update_date")))
)

In [3]:
year_stats = df_time.groupBy("year").count().orderBy("year")
year_stats.show()

+----+------+
|year| count|
+----+------+
|2007|145327|
|2008| 69223|
|2009|228845|
|2010| 56094|
|2011| 61703|
|2012| 57129|
|2013| 71694|
|2014| 87672|
|2015|214321|
|2016|132911|
|2017|121738|
|2018|134904|
|2019|153132|
|2020|173165|
|2021|184497|
|2022|187399|
|2023|213953|
|2024|258659|
|2025|337966|
+----+------+

In [4]:
cat_year = df_time \
    .withColumn("category", explode(split(col("categories"), " "))) \
    .groupBy("year", "category").count()

cat_year.orderBy(col("year").desc(), col("count").desc()).show()

+----+-----------------+-----+
|year|         category|count|
+----+-----------------+-----+
|2025|            cs.LG|54059|
|2025|            cs.AI|49188|
|2025|            cs.CV|38411|
|2025|            cs.CL|27080|
|2025|         quant-ph|21289|
|2025|            cs.RO|11847|
|2025|           hep-th|10851|
|2025|           hep-ph|10547|
|2025|cond-mat.mtrl-sci|10158|
|2025|            gr-qc| 9666|
|2025|            cs.CR| 8953|
|2025|          math.OC| 8921|
|2025|          math.CO| 8560|
|2025|          stat.ML| 8531|
|2025|            cs.SY| 8311|
|2025|          eess.SY| 8294|
|2025|          math.AP| 7997|
|2025|      astro-ph.GA| 7765|
|2025|cond-mat.mes-hall| 7578|
|2025|          math-ph| 7470|
+----+-----------------+-----+
only showing top 20 rows